body {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    margin: auto;
}

nav {

    box-shadow: 0 8px 6px -6px black;
    height: 75px;
}
.navbar-dark {
    position: fixed;
    top: 0;
    width: 100%;
}

#alerts {
    margin-top: 100px;
    padding: 0;
    margin-bottom: 0;
}

#user_values {
    margin-top: 150px;
    margin-bottom: 50px;
}

.btn-block {
    max-width: 50%;
    margin: auto;
}

h3 {
    margin: 25px 0px;
}

table {
    margin-top: 25px;
    text-align: center;
    /* border: 2px solid #5cb85c; */
    /* background-color: #5cb85c; */
}
table th {
    font-size: 20px;
}

table tr {
    font-size: 15px;
}

#results, #cboe_results, #alerts {
    display: none;
}

#cboe_table_title {
    margin-top: 50px;
}

