<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link to bootstrap-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- Jquery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    
    <!--nanobar js-->
    <script src="/static/js/nanobar.min.js"></script>

    <!-- jquery alert-->
    <script type="text/javascript" src="/static/js/jquery.noty.packaged.min.js"></script>

    <!-- My script-->
    <script src="/static/js/script.js"></script>

    <!-- export table in excel-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/datatables.min.js"></script>
    <script src="https://nightly.datatables.net/buttons/js/dataTables.buttons.js?_=a2f2f3edc9718bb6bdb965c105d22ce3"></script>
    <title>Alexander Earnings</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Welcome Alexander</a>        
    </nav>

    <section id="alerts">
        <div class="container">
            <div id="noty"></div>
        </div>
    </section>


    <section id="user_values">
        <div class="container">
            <h1>Choose a period to look for earnings below:</h1>
            <form id="period" action="/search" method="POST">
                <fieldset>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="start_date">From</label>
                                <input type="date" class="form-control" name="start_date" id="start_date" placeholder="select a day">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="end_date">To</label>
                                <input type="date" class="form-control" name="end_date" id="end_date" placeholder="select a day">
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" id="submit_button" class="btn btn-primary btn-lg btn-block">Search</button>             
                </fieldset>
            </form>
        </div>
    </section>

    <section id="progress_bar">
        <div class="container">
            <div id="progress"></div>
        </div>
    </section>

    <section id="results">
        <div class="container">
            <h3>Earningswhispers table</h3>
            
            <div id="wrapper"></div>
            <table id="earnings" class="table table-hover">
                <thead>
                    <tr class="table-dark">
                    <th scope="col">Ticker</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody id="rows">


                    
                </tbody>
            </table>
        </div>
        <div class="container">
            <button type="button" id="crossreferencebutton" class="btn btn-primary btn-lg" onclick="start_reference()">Cross Reference</button>
        </div>
    </section>

    <section id="progress_bar_2">
        <div class="container">
            <div id="progress_2"></div>
        </div>
    </section>

  

    <section class="container" id="cboe_results">
        <h3 id="cboe_table_title">Cboe table</h3>
        <table id="cboe_datas" class="table table-hover">
            <thead>
                <tr class="table-dark">
                <th scope="col">Ticker</th>
                <th scope="col">Stock Price</th>
                <th scope="col">Call Last</th>
                <th scope="col">Call Ask</th>
                <th scope="col">Call Int</th>
                <th scope="col">Call Volume</th>
                <th scope="col">Put Last</th>
                <th scope="col">Put Ask</th>
                <th scope="col">Put Int</th>
                <th scope="col">Put Volume</th>
            </tr>
            </thead>
            <tbody id="rows_">

                
            </tbody>
        </table>
    </section>


    <!-- JS, Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>